.App {
  text-align: left;
  width: 200px;
  margin: 0px auto;
}

.data {
  border-top: 1px solid;
  padding: 7px;
}

.data:first-child {
  border: none;
}

input {
  width: 98%;
  height: 25px;
  margin-top: 10px;
  border-radius: 7px;
  outline: none;
  border: 0px;
  border: 1px solid;
}
